@{
    ViewBag.Title = "Index";
}

<h2>Reports List</h2>
<h3>
    <a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report", new { ReportName = "SalesOrderReport", ReportDescription = "Sales Order Report", Width = 100, Height = 650 })">
        Sales Order Report
    </a>
</h3>